/.settings/
/target/
/.project
*/target/
*/.classpath
*/.project
*/.settings/
*/*/.settings/
*/*/target/
*/*/.classpath
*/*/.project

*.*~
*/nbproject/

/TranskribusExtractors/TranskribusXMLExtractor/nbproject/