*/target/
*/*/target/
*/.classpath
*/.project
*/.settings/

*.*~
*/nbproject/

/TranskribusExtractors/TranskribusPDFExtractor/logs/
/TranskribusExtractors/TranskribusXMLExtractor/nbproject/
/.project
/.settings/
/bin/
